//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.02
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Fri 08 09 10:29:43 2024

IO_LOC "progreso[4]" T9;
IO_PORT "progreso[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "progreso[3]" P8;
IO_PORT "progreso[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "progreso[2]" T7;
IO_PORT "progreso[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "progreso[1]" P6;
IO_PORT "progreso[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "progreso[0]" T6;
IO_PORT "progreso[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_encendido" R11;
IO_PORT "led_encendido" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "buzzer1" M15;
IO_PORT "buzzer1" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "buzzer" J16;
IO_PORT "buzzer" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "selector[7]" B13;
IO_PORT "selector[7]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "selector[6]" A14;
IO_PORT "selector[6]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "selector[5]" A15;
IO_PORT "selector[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "selector[4]" B14;
IO_PORT "selector[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "selector[3]" M14;
IO_PORT "selector[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "selector[2]" T8;
IO_PORT "selector[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "selector[1]" P9;
IO_PORT "selector[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "selector[0]" R8;
IO_PORT "selector[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "displayout[6]" D14;
IO_PORT "displayout[6]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "displayout[5]" C12;
IO_PORT "displayout[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "displayout[4]" T11;
IO_PORT "displayout[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "displayout[3]" J14;
IO_PORT "displayout[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "displayout[2]" E15;
IO_PORT "displayout[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "displayout[1]" T12;
IO_PORT "displayout[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "displayout[0]" B12;
IO_PORT "displayout[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fila[3]" B11;
IO_PORT "fila[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fila[2]" D11;
IO_PORT "fila[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fila[1]" N7;
IO_PORT "fila[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fila[0]" N8;
IO_PORT "fila[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "columna[3]" A11;
IO_PORT "columna[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "columna[2]" N6;
IO_PORT "columna[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "columna[1]" N9;
IO_PORT "columna[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "columna[0]" L9;
IO_PORT "columna[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
