//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.02
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Fri 08 02 11:35:47 2024

IO_LOC "selector[7]" J14;
IO_PORT "selector[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "selector[6]" M14;
IO_PORT "selector[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "selector[5]" T12;
IO_PORT "selector[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "selector[4]" T11;
IO_PORT "selector[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=12 BANK_VCCIO=1.8;
IO_LOC "selector[3]" J16;
IO_PORT "selector[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "selector[2]" M15;
IO_PORT "selector[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "selector[1]" R11;
IO_PORT "selector[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "selector[0]" P11;
IO_PORT "selector[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "displayout[6]" C12;
IO_PORT "displayout[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "displayout[5]" A15;
IO_PORT "displayout[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "displayout[4]" E15;
IO_PORT "displayout[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "displayout[3]" B12;
IO_PORT "displayout[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "displayout[2]" B13;
IO_PORT "displayout[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "displayout[1]" B14;
IO_PORT "displayout[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "displayout[0]" D14;
IO_PORT "displayout[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "fila[3]" L9;
IO_PORT "fila[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "fila[2]" N9;
IO_PORT "fila[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "fila[1]" N6;
IO_PORT "fila[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "fila[0]" A11;
IO_PORT "fila[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "columna[3]" N8;
IO_PORT "columna[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "columna[2]" N7;
IO_PORT "columna[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "columna[1]" D11;
IO_PORT "columna[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "columna[0]" B11;
IO_PORT "columna[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
IO_PORT "W_or_L[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_PORT "W_or_L[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
